%h1 Editing card level

= render 'form'

= link_to 'Show', [@card_level, @enhanced_card, @feeder_card_type]
\|
= link_to 'Back', card_level_enhanced_card_card_levels_path(@card_level, @enhanced_card)
