%h1 card types

= render :partial => "feeder_card_types/list", :locals=>{:feeder_card_types => @feeder_card_types}

%br

= link_to 'New Card level', new_card_level_enhanced_card_feeder_card_type_path(@card_level, @enhanced_card)
\|
= link_to 'Card', card_level_enhanced_card_path(@card_level, @enhanced_card)
