%h1 card levels

%table
  %tr
    %th 
    %th
    %th
    %th

  - @card_levels.each do |card_level|
    %tr
      %td= link_to card_level.name, card_level

%br

= link_to 'New Card level', new_card_level_path
\|
= link_to 'Home', root_path
